.element__like {
  display: block;
  background-image: url(../../../images/icon-like.svg);
  background-size: 22px 19px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 22px;
  height: 19px;
  border: none;
  margin: 4px 20px 0 0;
  cursor: pointer;
}

.element__like:hover {
  opacity: .5;
}
